.container{
    margin: 5px;
    position: fixed;
    top: 15%;
    left: 25%;
    border: 2px solid black;
    border-radius: 10px;
    width: 50% !important;
    text-align: center;
    padding: 30px;
    background-color: white;
  }